<div class="fullscreen-container" tabindex="0">

    <div class="container-nav">
        <div class="left-content">
            <h2>Marcos Lucas</h2>
        </div>

        <div class="right-content">
            <h2>Player 01</h2>
        </div>
    </div>
    <div class="container-logic">
        <div class="content mobile">
            <div class="title">
                <h1>Attention!</h1>
            </div>
            <p>Do you want to skip to the projects?</p><br>
            <a href="#angular">
                <p class="button">Yes</p>
            </a><br>
            <a href="#bio">
                <p class="button">No</p>
            </a>
        </div>
    </div>
</div>