
<div class="component">
    <img width="100%" src="assets/imgs/fundooptions2.png" alt="Imagem de Fundo" class="background-image">
    <div class="overlay-images">
      <a href="#angular" id="link1">
        <img width="15%" src="assets/imgs/angular.png" alt="Imagem 1" class="overlay-image-1">
      </a>
      <a href="#wordpress">
        <img width="15%" src="assets/imgs/wp.png" alt="Imagem 2" class="overlay-image-2">
      </a>
      <!-- <a href="link3">
        <img width="15%" src="assets/imgs/figma.png" alt="Imagem 3" class="overlay-image-3">
      </a> -->
    </div>
  </div>

