.component {
    position: relative;
    width: 100%;
    margin: 100px 0;
  }
  
  .background-image {
    width: 100%;
  }
  
  .overlay-image-1 {
    position: absolute;
    top: 41%;
    left: 25%;
    z-index: 9;
    animation: shake 20s infinite;
  }
  
  .overlay-image-2 {
    position: absolute;
    top: 41%;
    left: 60% ;
    transform: translateX(-50%);
    animation: shake 20s infinite;
  }
  
  .overlay-image-3 {
    position: absolute;
    top: 41%;
    right: 16%;
    transform: translateX(50%);
    animation: shake 20s infinite;
  }

  @keyframes shake {
    0% {
      transform: translate(0, 0);
    }
  
    25% {
      transform: translate(-5px, -5px);
    }
  
    50% {
      transform: translate(5px, 5px);
    }
  
    75% {
      transform: translate(-5px, -5px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }