<div id="bio" class="component">

    <div class="image-container">
        <img src="assets/imgs/tela.png" alt="Imagem de Fundo" class="background-image">
        <img src="assets/imgs/personagem.png" alt="Imagem Superior" class="top-image">
        <h1 class="text-overlay">Hi<br>

        </h1>
    </div>
    <div class="bio-text">
        <p class="text">Olá, meu nome é Marcos e tenho experiência em design, desenvolvimento front-end em WordPress e
            Angular, e análise de inbound marketing. Meu objetivo é crescer profissionalmente na área de tecnologia,
            contribuindo para projetos desafiadores e inovadores. Mantenho-me atualizado sobre as tendências do setor e
            aplico minhas habilidades técnicas para criar soluções eficazes. Convido você a explorar meu portfólio para
            conhecer mais sobre meu trabalho e projetos anteriores.
        </p>
    </div>

</div>